{% extends "base.html" %}
{% load static %}
{% block home %}active{% endblock home %}
{% block content %}







  <!-- ============== Start Hero section ========== -->
  <section class="hero  d-flex align-items-center justify-content-center" id="hero">
    <div id="particles-js"></div>
    <div class="container">
      <div class="row flex-row align-items-center">
        <div class="col-12 col-lg-5">
          <div class="hero-text text-end">
            <div class="row">
              <div class="col-12 ">
                <h1 class="title col-12 text-end" data-aos="fade-up" data-aos-delay="150">ابنِ النجاح معنا بأحدث<span
                    class="unique-text"> الأساليب </span>التدريبية
                    </h1>
              </div>
              <div class="col-12 text-end">
               
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-7 mx-md-auto" data-aos="fade-right" data-aos-delay="100">
          <div class="hero-image">
            <div class="hero-img">
              <img class="img-fluid " alt="hero-img"
                src="{% static "website/images/hero/hero1.png" %}">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ============== End Hero section ========== -->


<!-- ============== Start portfolio section ========== -->

<section class="container portfolio py-5" id="portfolio">
    <div class="heading">
      <h4 class="pretitle" data-aos="fade-up">
        التدريبات
      </h4>
      <h1 class="title col-12" data-aos="fade-up" data-aos-delay="100">
        تدريباتك
      </h1>
    </div>
    </div>
    <div class="row gy-4 gx-4 " data-aos="fade-up" data-aos-delay="150">
        {% for course in courses %}
      <div class="col-md-6  col-lg-4 mx-auto data text-center ">

          <div class="portfolio-item">
            <img src="{{course.image.url}}" alt="portfolio-img">
            <div class="img-overlay">
              <div class="content">
                <h3>{{course.name}}</h3>
                <h6>{% if course.description|length > 30 %}
                    {{ course.description|slice:":30" }}...
                {% else %}
                    {{ course.description }}
                {% endif %}</h6>
                <div class="d-flex tags my-2">
                  <span>#{{course}}</span>
                  
                </div>
                <h4><a class="unique-text" href="{% url 'course_details' course.id %}"><i class="bi bi-eye-fill mx-2"></i>عرض
                    </a></h4>
              </div>
            </div>
          </div>
    
      </div>
      {% endfor %}
    </div>
  </section>
  <!-- ============== End portfolio section ========== -->



{% endblock %}