{% extends "../base.html" %}
{% block courses %}active{% endblock courses %}
{% block content %}
  <!-- ======= srart Breadcrumbs ======= -->
  <section class="breadcrumbs py-4 justify-content-center" >
    <div class="container">
    
      <h2 class="title ">جميع التدريبات</h2>
      
    </div>
  </section>
  <!-- End Breadcrumbs -->
<div class="container my-5">
    <div class="row g-4 d-flex justify-content-center">
        {% for course in coursres %}
        <div class="col-lg-4 col-md-6 d-flex mb-4 align-items-stretch">
            <div class="card text-center h-100" style="width: 100%;">
                <img
                    class="card-img-top rounded"
                    src="{{course.image.url}}"
                    alt="{{course.name}}"
                    style="height: 200px; object-fit: cover;"
                />
                <div class="card-body d-flex flex-column">
                    <h4 class="card-title">{{course.name}}</h4>
                    <p class="card-text flex-grow-1">{{course.description}}</p>
                    {% if course.active %}
                    <div class="d-flex justify-content-center">
                        {% if request.user.is_superuser %}
                        <h4><a class="unique-text" href="{% url 'course_details' course.id %}"><i class="bi bi-eye-fill mx-2"></i>عرض
                        </a></h4>
                        {% else %}
                        <a class="btn"  href="{% url "join_course" course.id %}">إنضمام</a>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
